@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  gap: 2rem;
  max-width: 1400px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  border: 2px black solid;
}

article {
  padding: 0 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

a {
  color: white;
}

img {
  width: 1.3rem;
  aspect-ratio: 1/1;
}

.space {
  margin-top: 2rem;
}

.title {
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 650px) {
  main {
    display: block;
  }

  .resume {
    padding: 0 1rem !important;
  }

  .space {
    margin-top: 0;
  }

  .portfolio {
    margin-bottom: 1rem;
  }

  .contact {
    border-right: none !important;
  }
}

/* Contact */

.contact {
  border-right: 2px black solid;
  background-color: #698996;
  color: white;
}

.contact h2 {
  font-size: 1.3rem;
}

.contact h3 {
  font-size: 0.9rem;
}

.contact p,
.contact a {
  font-size: 0.8rem;
}

.name {
  margin-bottom: 0.5rem;
}

.contact-info > *,
.name {
  padding: 0 1rem;
}

.contact-header {
  background-color: #3b4d54;
  margin-bottom: 0.5em;
}

.contact-me,
.portfolio-linkedIn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Resume */

.resume {
  padding-right: 2rem;
  min-width: 0;
}

.resume p {
  font-size: 0.9rem;
}

.core-skills,
.technical-skills,
.coursework ul {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style-type: none;
}

.technical-skills > * {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 0 1 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 1/1;
}

/* Experience */

.job {
  display: flex;
  gap: 3rem;
}

.job-description {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.job-tasks ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

/* Education */

.school {
  display: flex;
  gap: 3rem;
}

.coursework {
  margin-top: 1rem;
}
