@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  gap: 2rem;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  border: 2px black solid;
}

article {
  padding: 0 1.5rem;
  max-width: 90%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

a {
  color: white;
}

img {
  width: 1.3rem;
  aspect-ratio: 1/1;
}

.space {
  margin-top: 2rem;
}

.title {
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 650px) {
  main {
    display: block;
  }

  .resume {
    padding: 0 1rem !important;
  }

  .space {
    margin-top: 0;
  }

  .portfolio > div {
    margin-bottom: 1em;
  }

  .contact {
    border-right: none !important;
  }
}

/* Contact */

.contact {
  border-right: 2px black solid;
  background-color: #698996;
  color: white;
}

.contact h2 {
  font-size: 1.3rem;
}

.contact h3 {
  font-size: 0.9rem;
}

.contact p,
.contact a {
  font-size: 0.8rem;
}

.name {
  margin-bottom: 0.5rem;
}

.contact-info > *,
.name {
  padding: 0 1rem;
}

.contact-header {
  background-color: #3b4d54;
  margin-bottom: 0.5em;
}

.contact-me,
.social,
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Resume */

.resume {
  padding-right: 2rem;
  min-width: 0;
}

.resume p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

/* About Me */
/* .about-me {
  max-width: 60%;
} */

.about-me p {
  font-size: 1rem;
}

/* Skills */

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 0 1 40%;
}

.skills-header h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.skills-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill {
  display: flex;
  gap: 0.4rem;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 60%;
}

.project-header {
  display: flex;
  gap: 2rem;
}

.project-header h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.languages {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.languages p:not(.languages p:last-child) {
  border-right: solid black 2px;
  padding-right: 1rem;
}

.project-header span {
  padding: 0 1rem;
}

.project-header a {
  color: black;
}

.first {
  border-right: solid black 2px;
}

.project-description {
  padding-top: 0.5rem;
}

.break {
  margin-top: 1rem;
}

/* Education */

.education {
  margin-bottom: 2rem;
}

.experience {
  margin-bottom: 1rem;
}

.school {
  display: flex;
  gap: 3rem;
}
